# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Runtime data
*.seed
*.log
*.out
*.pid
*.swp
*.tsbuildinfo

pids
logs
results
tmp

# API keys and secrets
.env
.env.local
.npmrc
.yarnrc

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Custom project script
script/*.json
script/*.txt
